<div class="container-wrapper">
  <h2>Draggable Masonry layout</h2>
  <div class="container-block">
    <div class="list-container">
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, doneList2]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag [ngStyle]="{ 'height' : item.height + 'px' }">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <h2>{{item.text}}</h2>
        </div>
      </div>
    </div>
    <div class="list-container">
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, doneList2]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag [ngStyle]="{ 'height' : item.height + 'px' }">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <h2>{{item.text}}</h2>
        </div>
      </div>
    </div>
    <div class="list-container">
      <div
        cdkDropList
        #doneList2="cdkDropList"
        [cdkDropListData]="done2"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done2" cdkDrag [ngStyle]="{ 'height' : item.height + 'px' }">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <h2>{{item.text}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
